.box {
  width: 618px;
  padding: 34px;
  background-color: #110b09;
  border-radius: 12px;
  background: linear-gradient(159deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.01) 100%);
  backdrop-filter: blur(4px);
}
